/ArvoreBinaria/nbproject/private/
/Gomoku/Gomoku/dist/
/Minimax/target/
/LogicaFuzzy/fUZZY/nbproject/private/
/LogicaFuzzy/LineFollowerSimulator_source/nbproject/private/
/LogicaFuzzy/LineFollowerSimulator_source/build/